$header-bg: url("../img/m-h-night.jpg") no-repeat;
$font-color: #fff;
$word-color: #ff4e33;
$button-color: #e3ac00;
$bg-color: #21232e;
$blocks-color: #3b3f50;
$block-heading-color: #fff;
$block-font-color: #ccc3c0;
$gradient: (
  form: #db9f08,
  to: #922b53,
);
$main-font: "Hind", sans-serif;
$sens: "Source Sans Pro", sans-serif;
