$header-bg: url("../img/m-h-day.jpg") no-repeat;
$font-color: #2c2f3c;
$word-color: #14a0c7;
$button-color: #699900;
$bg-color: #fff;
$blocks-color: #21232e;
$block-heading-color: #fff;
$block-font-color: #c0c3c9;
$gradient: (
  form: #689801,
  to: #3260c6,
);
$main-font: "Hind", sans-serif;
$sens: "Source Sans Pro", sans-serif;
